
{% set zero_results_output = {"upcoming": "queued", "posted": "posted", "archive": "archived"} %}
{% if tweets|length > 0 %}
    <div class="container ps-0 ms-0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Tweet</th>
                        <th scope="col">Date and Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tweet_text, internal_id, tweet_time, tweet_id in tweets %}
                    <tr>
                        <td style="width: 50%; word-wrap: break-word;">{{ tweet_text.replace("\n", "<br>") }}</td>
                        <td>{{ tweet_time }}</td>
                        <td>
                            {% if page_type != 'posted' %}
                                <a class="btn btn-sm btn-primary" href="/{{ bot_name }}/tweets/{{ internal_id }}/edit">
                                    <span class="bi bi-pencil-fill">&nbsp;Edit</span>
                                </a>
                            {% endif %}
                            
                            {% if page_type == 'upcoming' %}
                                <a class="btn btn-sm btn-danger" onclick="archiveTweet('{{ bot_name }}', '{{ internal_id }}', true)">
                                    <span class="bi bi-archive-fill">&nbsp;Ripple Archive</span>
                                </a>
                                <a class="btn btn-sm btn-danger" onclick="archiveTweet('{{ bot_name }}', '{{ internal_id }}', false)">
                                    <span class="bi bi-archive-fill">&nbsp;Archive</span>
                                </a>
                            {% elif page_type == 'archive' %}
                                <a class="btn btn-sm btn-success" onclick="unarchiveTweet('{{ bot_name }}', '{{ internal_id }}')">
                                    <span class="bi bi-inbox-fill">&nbsp;Restore</span>
                                </a>
                                <a class="btn btn-sm btn-danger" onclick="deleteTweet('{{ bot_name }}', '{{ internal_id }}')">
                                    <span class="bi bi-trash-fill">&nbsp;Delete Forever</span>
                                </a>
                            {% elif page_type == 'posted' %}
                                <a class="btn btn-sm btn-primary" href="http://twitter.com/i/status/{{ twitter_id }}">
                                    <span class="bi bi-twitter">&nbsp;View on Twitter</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="container ps-0 ms-0">
        <h5 class="text-muted">No Tweets {{ zero_results_output[page_type] }}</h2>
    </div>
{% endif %}